doctype html5
html
  head
    //- get the google magics
    script(src="https://maps.googleapis.com/maps/api/js?libraries=geometry,visualization")

    script(type='text/javascript').

      //write the pins object to the window
      var pins = !{pins}

      //initialize map goodness - adapted from google demo
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 1,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(mapCanvas, mapOptions)

        //create heatmap layer
        var heatmapData = []
        for (var i = 0; i < pins.features.length; i++) {
          var coords = pins.features[i].geometry.coordinates;
          var latLng = new google.maps.LatLng(coords[1], coords[0]);
          heatmapData.push(latLng)
        }

        //insert heatmap layer
        var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData,
            dissipating: false,
            radius: 5,
            map: map
          })
      }

      // run initialize once the dom is ready for it
      google.maps.event.addDomListener(window, 'load', initialize);


  body
    //- search form
    form(method='post', action='search')
      label Search Text
      input(type='text', name='tweetText', id='tweetText', required)

    //- the map itself
    div(id='map_canvas' style='width: 500px; height: 400px;')
