doctype html5
html
  head
    //- get the google magics
    script(src='https://maps.googleapis.com/maps/api/js?libraries=geometry,visualization')

    script(type='text/javascript').
      //write the pins object to the window
      pins = !{pins};

    script(src='js/demo.js', type='text/javascript', charset='utf-8')

  body
    //- search form
    form(method='post', action='search')
      label Search Text
      input(type='text', name='tweetText', id='tweetText', required)

    //- the map itself
    div(id='map_canvas' style='width: 500px; height: 400px;')
